#container1 {
    box-sizing: content-box;
    padding: 5px;
    margin:5px;
    border-style: 5px;
    border-style: solid;
    border-color: #5b4000;
    height: 70px;
}

#container2 {
    padding: 5px;
    border-style: 5px;
    border-style: solid;
    border-color: #0e5252;
    height: 80px;
    width: 380px;
}